[api]
api_key = "your-api-key-here"

[gcp_service_account]
  type = "service_account"
  project_id = "vsedriveupload"
  private_key_id = "private_key_id"
  private_key = """-----BEGIN PRIVATE KEY-----\private_key\n-----END PRIVATE KEY-----\n"""
  client_email = "scham-pdf-upload@vsedriveupload.iam.gserviceaccount.com"
  client_id = "client_id"
  auth_uri = "https://accounts.google.com/o/oauth2/auth"
  token_uri = "https://oauth2.googleapis.com/token"
  auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
  client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/scham-pdf-upload%40vsedriveupload.iam.gserviceaccount.com"
  universe_domain = "googleapis.com"

[api]
api_key = "sk-u...L"

[gcs_bucket]
type = "service_account"
project_id = "vsepathtodriveupload"
private_key_id = "3...1"
private_key = "M...U"
client_email = "streamlit-gcs2@vsedriveupload.iam.gserviceaccount.com"
client_id = "1...3"
auth_uri = "https://accounts.google.com/o/oauth2/auth"
token_uri = "https://oauth2.googleapis.com/token"
auth_provider_x509_cert_url = "https://www.googleapis.com/oauth2/v1/certs"
client_x509_cert_url = "https://www.googleapis.com/robot/v1/metadata/x509/vse-cloud-storage-access%40vsepathtodriveupload.iam.gserviceaccount.com"

gcs_bucket = "vse-schamstation24-07-2"